
<!-- <div>{{ articles }}</div> -->

<div class="container mt-5 extend">
  <div class="card extend">
    <div class="card-body main-card">
      <div class="article-header">
        <div class="card-title restricted">{{ article.title }}</div>
        <div class="circular-progress">
          <p class="ratio">1/10</p>
        </div>
      </div>
      <p class="card-text">{{ article.content }}</p>
      <div class="d-flex justify-content-center"> <!-- Center the buttons -->
        <button class="btn btn-success mr-2" (click)="likeArticle()">Like</button>
        <button class="btn btn-danger" (click)="dislikeArticle()">Dislike</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
